body {
  padding-top: 140px;
}

.summary-data span {
  display:    inline-block;
  min-width:  100px;
  font-size:  12px;
}

.logs {
  overflow: hidden;
}

.log {
  float: left;
  width: 48%;
}

.log label {
  display:      inline-block;
  width:        50px;
  margin-right: 5px;
}